easy/*
medium/*
hard/*
real_tree_easy/*
real_tree_medium/*
real_tree_hard/*

HYDRUS_tree*

real_tree_random_10/*
real_tree_random_11/*
real_tree_random_12/*
real_tree_random_13/*

real_tree_rectangle_1/*
real_tree_rectangle_2/*