easy/*
medium/*
hard/*
real_tree_easy/*
real_tree_medium/*
real_tree_hard/*
real_tree_random/*
real_tree_random_2/*
real_tree_random_3/*
real_tree_random_4/*
real_tree_random_5/*
real_tree_random_6/*
*.py

HYDRUS_tree*
